.section-speciality {
  height: 330px;
  background: #f5f5f5;
  border: 1px solid red;

  .speciality-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;

    .speciality-header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      margin-bottom: 20px;

      h2 {
        font: 14px/1.5 "Montserrat", sans-serif;
          font-style: normal;
          font-variant-ligatures: normal;
          font-variant-caps: normal;
          font-variant-numeric: normal;
          font-variant-east-asian: normal;
          font-stretch: normal;
          font-size: 21px;
          line-height: 1.5;
          font-family: Montserrat, sans-serif;
          font-weight: bold;
      }

      .further{
        button {
          background-color: #ebebeb;
          border: none;
          height: 37px;
          width: 91px;
          line-height: 37px;
          font-size: 11px;
          font-family: 'Open Sans', sans-serif;
          color: #282e41;
          text-transform: uppercase;

          &:hover {
            background-color: #F7D800;
            color: #ffffff;
          }
        }
      }
    }

    .speciality-body {
      .speciality-customize {
        .bg-image {
          height: 150px;
          width: 278px;
          background: url("../../../assets/Speciality/co-xuong-khop.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
        }
      }

      .slick-prev {
        left: -12px !important;
        z-index: 1000 !important;
        height: 48px !important;
        width: 44px !important;
        border: 2px solid #adadad !important;
        background: #ebebeb !important;
        opacity: 0.7;

        &:hover {
          background: #ffffff !important;
          opacity: 1;
        }
      }

      .slick-next {
        right: -12px !important;
        z-index: 1000 !important;
        height: 48px !important;
        width: 44px !important;
        border: 2px solid #adadad !important;
        background: #ebebeb !important;
        opacity: 0.7;

        &:hover {
          background: #ffffff !important;
          opacity: 1;
        }
      }

      .slick-prev::before,
      .slick-next::before {
        color: #959595 !important;
      }
    }
  }
}
