.home-header-container {
  height: 70px;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #eee;
  z-index: 100000;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;

    .left-content {
      width: 25%;
      display: flex;
      align-items: center;

      i.fas.fa-bars {
        font-size: 25px;
        color: gray;
        cursor: pointer;
        margin-left: 52px;
      }

      .header-logo {
        background: url("../../assets/logo.svg") center center no-repeat;
        height: 48%;
        width: 56%;
        cursor: pointer;
      }
    }

    .center-content {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .child-content {
        b {
          display: block;
          font-size: 12px;
          color: #49bce2;
        }
        .subs-title {
          font-weight: lighter;
          font-size: 10px;
          display: block;
        }
      }
    }

    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .support {
        padding-right: 45px;
        i {
          color: #45c3d2;
        }
        span {
          padding-left: 2px;
          color: #969495;
          font-weight: 550;
        }
      }

      .language-vi {
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }

      .language-en {
        margin: 0 10px;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.home-header-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/header-background.jpg");
  height: 595px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .content-up {
    padding-top: 15px;
    height: 65%;
    .first-title {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin: 30px 0 5px 0;
      color: white;
      font-weight: 300;
    }
    .second-title {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      font-weight: 550;
      margin-bottom: 15px;
    }
    .search {
      display: flex;
      border: 1px solid transparent;
      width: fit-content;
      margin: 0 auto;
      align-items: center;
      padding: 10px;
      justify-content: center;
      border-radius: 25px;
      background: #f7d800;

      i {
        margin: 0 5px;
      }

      input {
        height: 30px;
        width: 360px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .content-down {
    height: 35%;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, -0.9),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );
    .option {
      justify-content: center;
      display: flex;
      align-items: center;
      .option-child {
        display: flex;
        justify-content: space-around;
        gap: 50px;

        .speciality {
          width: 125px;
          cursor: pointer;
          &:hover {
            color: #119db6;
          }
          .icon-speciality {
            background: url("../../assets/hospital-banner.png");
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            margin: auto;
          }
          .text-speciality {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
          }
        }

        .remote {
          width: 125px;
          cursor: pointer;
          &:hover {
            color: #119db6;
          }
          .icon-remote {
            background: url("../../assets/remote-examine-banner.png");
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            margin: auto;
          }
          .text-remote {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
          }
        }

        .general {
          width: 125px;
          cursor: pointer;
          &:hover {
            color: #119db6;
          }
          .icon-general {
            background: url("../../assets/examine-general-banner.png");
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            margin: auto;
          }
          .text-general {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
          }
        }

        .medical {
          width: 125px;
          cursor: pointer;
          &:hover {
            color: #119db6;
          }
          .icon-medical {
            background: url("../../assets/medical-test-banner.png");
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            margin: auto;
          }
          .text-medical {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
          }
        }

        .health {
          width: 125px;
          cursor: pointer;
          &:hover {
            color: #119db6;
          }
          .icon-health {
            background: url("../../assets/mind-health-banner.png");
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            margin: auto;
          }
          .text-health {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
          }
        }

        .dentistry {
          width: 125px;
          cursor: pointer;
          &:hover {
            color: #119db6;
          }
          .icon-dentistry {
            background: url("../../assets/hospital-banner.png");
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            margin: auto;
          }
          .text-dentistry {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
          }
        }
      }
    }
  }
}
