@import "../../styles/common.scss";

.header-container {
  top: 0;
  z-index: 100;
  position: sticky !important;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken($colormain, 5);
    }
    i {
      font-size: $base-size + 1px;
    }
  }
  .welcome {
    margin-right:  10px;
  }
  .languages {
    display: flex;
    align-items: center;
    .language-vi {
      background: white;
      border-radius: 16px;
      line-height: 0px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }

    .language-en {
      margin: 0 10px;
      border-radius: 16px;
      background: white;
      line-height: 0px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
